.primary {
  background-color: brown;
  color: white;
}

.secondary {
  background-color: transparent;
  border: 1px solid brown;
  color: brown;
}

.button {
  transition: scale 0.1s ease-out;
}

.button:active {
  scale: 0.9;
}
