.container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.container > *:first-child {
  margin: 0;
}

@media (min-width: 25em) {
  .container {
    flex-direction: row;
  }
}
